.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  background-color: black;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login{
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-inputs{
  padding: 20px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.input{
  padding: 10px;
  width: 350px;
  border: 1px solid #cecece;
  margin: 10px 0;
}

small{
  color: red;
}

button{
  padding: 10px;
  width: 373px;
  border: 1px solid #cecece;
  margin: 10px 0;
  background-color: black;
  color: white;
}

.log-out-btn{
  padding: 10px;
  width: 150px;
  border: 1px solid #cecece;
  margin-left: 50px;
  background-color: black;
  color: white;
}